// * main
$maxWidth: 1920;
$minWidth: 1300;

///* colors
$primaryBgColor: linear-gradient(117.85deg, #fe8065, #f74d6c);
$tertiaryBgColor: linear-gradient(#fff 0 0) padding-box, linear-gradient(90deg, #fe8065, #f74d6c) border-box;
$primaryColor: #f74d6c;
$tertiaryColor: #fff;
$textColor: #464f57;
$titleColor: #212529;

// * header
$headerLinkColor: #747b81;
