@import "@/styles/mixins";
@import "@/styles/variables";

.ant-layout {
    &-has-sider {
        height: 100%;
    }
    &-sider{
        padding: 20px 10px;
    }
}

.ant-menu-dark {
    background: inherit;
}

.ant-menu {
    &-item-selected {
        background-color: $adminPrimaryColor !important;
    }
}
