@import "@/styles/mixins";
@import "@/styles/variables";

.footer {
    background: $primaryBgColor;
    padding-top: 60px;
    &__title {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 24px;
    }

    &__inner {
        @include flex(space-between, flex-start, $gap: 10px);
    }

    &__contacts,
    &__links,
    &__subscribe {
        @include flex(space-between, flex-start, column);
        a {
            color: #fff;
        }
    }

    &__body {
        @include flex(space-between, $direction: column);
    }

    &__menu {
        li {
            margin-bottom: 10px;
        }
    }

    &__email {
        @include flex(space-between, center);
        border-radius: 10px;

        input {
            font-size: 18px;
            font-weight: 300;
            height: 60px;
            padding: 15px 30px;
            border: 1px solid #fff;
            background-color: transparent;
            color: #fff;
            &::-webkit-input-placeholder {
                color: #fff;
            }
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 10px;
            background-color: #fff;
            padding: 20px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__footer {
        text-align: center;
        color: #fff;
        border-top: 1px solid #fe8065;
        flex: 1 1 auto;
        padding: 24px 0px;
    }
}

.contacts {
    &__links {
        @include flex(space-between, center, $gap: 10px);
        margin-bottom: 20px;
    }

    &__icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .footer {
        &__inner {
            flex-wrap: wrap;
            gap: 20px;
        }

        &__title {
            font-size: 20px;
        }

        &__subscribe {
            order: 1;
            width: 100%;
            margin-bottom: 40px;
        }

        &__contacts {
            order: 2;
            margin-bottom: 24px;
        }

        &__links {
            order: 3;
        }

        &__footer {
            margin-top: 24px;
        }
    }
}

@media (max-width: 365px) {
    .footer {
        padding-top: 30px;
        &__title {
            margin-bottom: 15px;
        }

        &__email {
            input {
                height: 55px;
                padding: 10px 15px;
            }

            button {
                width: 45px;
                height: 55px;
                padding: 13px;
            }
        }

        &__subscribe {
            margin-bottom: 10px;
        }

        &__contacts {
            margin-bottom: 10px;
        }
    }
}
